dw-logo {
  display: inline-flex;
  align-items: center;
  column-gap: var(--space-s-l);
  font-weight: bold;
  color: var(--color-body);
  text-decoration: none;

  dw-logo-icon {
    --_background: var(--color-red);

    aspect-ratio: 1;
    border-radius: 0.2em;
    block-size: 1.5em;
    background: var(--_background);
    padding: 0.3em;
    line-height: 1;
    transition: background var(--transition), filter var(--transition);
  
    &[variant='writing'] {
      --_background: var(--color-blue);
    }
  
    &[variant='photos'] {
      --_background: var(--color-purple);
    }
  
    &[variant='plants'] {
      --_background: var(--color-green);
    }

    svg {
      width: 100%;
      height: auto;
    }
  }
}
