.intro {
  margin-top: var(--space-xl);
  margin-bottom: calc(var(--space-xl) * 1.5);

  & .intro__title {
    color: var(--color-black);
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    margin: 0;
    font-size: 3.5em;
    max-width: 5.5em;
    font-weight: 900;
    line-height: 1;
    letter-spacing: 1.5px;
  }

  & .intro__content {
    font-size: var(--size-xl);
    max-width: 20em;
  }

  @media (min-width: 800px) {
    & .intro__title {
      font-size: 5em;
    }

    & .intro__socials {
      position: absolute;
      width: 2em;
      bottom: 0;
      right: var(--space);
    }
  }
}