.section {
  padding-block: var(--space-xl-2xl);

  &.section--small {
    padding-block: var(--space-l-xl);
  }

  &.section--salmon {
    background: var(--color-salmon-1);
  }

  .section-title {
    margin-block: 0;

    & + p {
      margin-block-start: var(--space-3xs);
    }
  }
}