@font-face {
  font-family: 'Roboto Flex';
  font-style: normal;
  font-weight: 100 1000;
  font-stretch: 100%;
  font-display: swap;
  src: url('/assets/roboto-flex.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
  --font-family: 'Roboto Flex', roboto, -apple-system, system-ui, blinkmacsystemfont,
    helvetica, arial, sans-serif;

  --color-border: #e0e0e0;
  --color-grey: #999999;
  --color-body: #222222;

  --color-red: #f9415d;
  --color-blue: #417bf9;
  --color-purple: #bc41f9;
  --color-green: #4f9905;

  --max-container-width: 1400px;

  --line-height: 1.5;
  --header-line-height: 1.25;

  --transition-duration: 0.2s;
  --transition-timing: ease-in-out;
  --transition: var(--transition-duration) var(--transition-timing);

  /*
   * Type scale
   * @link https://utopia.fyi/type/calculator?c=320,16,1.2,1400,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12
   */
  --font-size--2: clamp(0.6944rem, 0.6632rem + 0.1564vw, 0.8rem);
  --font-size--1: clamp(0.8333rem, 0.784rem + 0.2469vw, 1rem);
  --font-size-0: clamp(1rem, 0.9259rem + 0.3704vw, 1.25rem);
  --font-size-1: clamp(1.2rem, 1.0926rem + 0.537vw, 1.5625rem);
  --font-size-2: clamp(1.44rem, 1.288rem + 0.7602vw, 1.9531rem);
  --font-size-3: clamp(1.728rem, 1.5166rem + 1.0569vw, 2.4414rem);
  --font-size-4: clamp(2.0736rem, 1.7838rem + 1.4491vw, 3.0518rem);
  --font-size-5: clamp(2.4883rem, 2.0953rem + 1.965vw, 3.8147rem);

  /* 
   * Spacing scale
   * @link https://utopia.fyi/space/calculator?c=320,16,1.2,1400,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l|s-2xl&g=s,l,xl,12
   */
  --space-3xs: clamp(0.25rem, 0.2315rem + 0.0926vw, 0.3125rem);
  --space-2xs: clamp(0.5rem, 0.463rem + 0.1852vw, 0.625rem);
  --space-xs: clamp(0.75rem, 0.6944rem + 0.2778vw, 0.9375rem);
  --space-s: clamp(1rem, 0.9259rem + 0.3704vw, 1.25rem);
  --space-m: clamp(1.5rem, 1.3889rem + 0.5556vw, 1.875rem);
  --space-l: clamp(2rem, 1.8519rem + 0.7407vw, 2.5rem);
  --space-xl: clamp(3rem, 2.7778rem + 1.1111vw, 3.75rem);
  --space-2xl: clamp(4rem, 3.7037rem + 1.4815vw, 5rem);
  --space-3xl: clamp(6rem, 5.5556rem + 2.2222vw, 7.5rem);
  /* One-up pairs */
  --space-3xs-2xs: clamp(0.25rem, 0.1389rem + 0.5556vw, 0.625rem);
  --space-2xs-xs: clamp(0.5rem, 0.3704rem + 0.6481vw, 0.9375rem);
  --space-xs-s: clamp(0.75rem, 0.6019rem + 0.7407vw, 1.25rem);
  --space-s-m: clamp(1rem, 0.7407rem + 1.2963vw, 1.875rem);
  --space-m-l: clamp(1.5rem, 1.2037rem + 1.4815vw, 2.5rem);
  --space-l-xl: clamp(2rem, 1.4815rem + 2.5926vw, 3.75rem);
  --space-xl-2xl: clamp(3rem, 2.4074rem + 2.963vw, 5rem);
  --space-2xl-3xl: clamp(4rem, 2.963rem + 5.1852vw, 7.5rem);
  /* Custom pairs */
  --space-s-l: clamp(1rem, 0.5556rem + 2.2222vw, 2.5rem);
  --space-s-2xl: clamp(1rem, -0.1852rem + 5.9259vw, 5rem);
}

*,
::before,
::after {
	box-sizing: border-box;
}

body {
  color: var(--color-body);
  font-family: var(--font-family);
  font-size: var(--font-size-0);
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  text-wrap: pretty;
  line-height: var(--line-height);
  margin: 0;
}

h1,
h2,
h3,
h4 {
  font-weight: bold;
  line-height: var(--header-line-height);
  text-wrap: balance;
}

a {
  text-underline-offset: 0.1em;
}

header {
  padding: var(--diamond-spacing);
}

main {
  padding-block: var(--space-s-2xl);
}

.wrap {
  padding-inline: var(--space-s-2xl);
  max-width: var(--max-container-width);
  margin: 0 auto;
}

dw-hello {
  display: grid;
  grid-template-columns: 1fr auto;
  column-gap: var(--space-m);
  margin-block: 0 var(--space-s-l);

  h1 {
    font-size: clamp(3em, 10vi, 8em);
    margin: 0;
  }

  img {
    aspect-ratio: 1;
    display: block;
    width: clamp(5em, 13vi, 10em);
    height: auto;
    border-radius: 50%;
  }
}

dw-intro {
  font-size: clamp(1.5em, 3.5vi, 3em);

  ul {
    list-style-type: none;
    padding-inline: 0;
    margin: var(--space-xl) 0 0 0;
    border-top: 1px solid var(--color-border);
  }

  ul > li {
    border-bottom: 1px solid var(--color-border);
    padding-block: var(--space-2xs);
  }

  ul > li > a {
    display: block;
    line-height: 1;
    padding-block: var(--space-s);

    &:not(:is(:hover,:focus)) {
      dw-logo-icon {
        --_background: var(--color-grey);
      }
    }
  }
}

dw-logo {
  display: inline-flex;
  align-items: center;
  column-gap: var(--space-s-l);
  font-weight: bold;
  color: var(--color-body);
  text-decoration: none;

  dw-logo-icon {
    --_background: var(--color-red);

    aspect-ratio: 1;
    border-radius: 0.2em;
    block-size: 1.5em;
    background: var(--_background);
    padding: 0.3em;
    line-height: 1;
    transition: background var(--transition);
  
    &[variant='writing'] {
      --_background: var(--color-blue);
    }
  
    &[variant='photos'] {
      --_background: var(--color-purple);
    }
  
    &[variant='plants'] {
      --_background: var(--color-green);
    }

    svg {
      width: 100%;
      height: auto;
    }
  }
}
