:root {
  --max-site-width: 1000px;

  --color-black: #101010;
  --color-tundora: #444444;
  --color-radical-red: #F9415D;

  --shadow: 0 2px 8px 2px rgba(0, 0, 0, .075);
  --shadow-subtle: 0 2px 8px 2px rgba(0, 0, 0, .025);

  --space-xs: .25rem;
  --space-sm: .5rem;
  --space: 1rem;
  --space-lg: 2rem;
  --space-xl: 4rem;

  --size-sm: .75em;
  --size: 1em;
  --size-lg: 1.25em;
  --size-xl: 1.5em;
}

@media (min-width: 800px) {
  :root {
    --size-xl: 1.75em;
  }
}