<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link href="/fonts/montserrat/black.woff2" rel="preload" as="font" type="font/woff2" crossorigin>
    <link href="/fonts/montserrat/light.woff2" rel="preload" as="font" type="font/woff2" crossorigin>
    <link rel="stylesheet" href="/styles/index.css">
  </head>
  <body>
    <header class="header">
      <div class="wrap">
        <img
          class="header__logo"
          src="/images/logo.png"
          width="80"
          height="35"
          alt="dw logo"
        />
      </div>
    </header>
    <main>
      {{{ contents }}}
    </main>
  </body>
</html>