<!doctype html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <title>{{#if title}}{{ title }}{{else}}Dan Webb{{/if}}</title>
    <meta name="description" content="My names Dan 👋 I build websites and web applications.">

    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/images/favicon/site.webmanifest">
    <link rel="mask-icon" href="/images/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-config" content="/images/favicon/browserconfig.xml">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">

    <meta property="og:type" content="website">
    <meta property="og:url" content="https://danwebb.co/">
    <meta property="og:title" content="Dan Webb">
    <meta property="og:description" content="My names Dan 👋 I build websites and web applications.">
    <meta property="og:image" content="/images/me.jpg">
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://danwebb.co/">
    <meta property="twitter:title" content="Dan Webb">
    <meta property="twitter:description" content="My names Dan 👋 I build websites and web applications.">
    <meta property="twitter:image" content="/images/me.jpg">
    <meta property="twitter:creator" content="@danwebbbb">

    <link href="/fonts/montserrat/black.woff2" rel="preload" as="font" type="font/woff2" crossorigin>
    <link href="/fonts/montserrat/light.woff2" rel="preload" as="font" type="font/woff2" crossorigin>
    <link rel="stylesheet" href="/styles/index.css">
  </head>
  <body>
    <header class="header">
      <div class="wrap">
        <img
          class="header__logo"
          src="/images/logo.png"
          width="80"
          height="35"
          alt="dw logo"
        />
      </div>
    </header>
    <main>
      {{{ contents }}}
    </main>
  </body>
</html>