<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link href="/fonts/source-sans-pro/regular.woff2" rel="preload" as="font" type="font/woff2" crossorigin>
    <link rel="stylesheet" href="/styles/index.css">
  </head>
  <body>
    {{{ contents }}}
  </body>
</html>